@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("reddit.com")

{

body {
width: 96.5em !important;
margin-left: auto !important;
margin-right: auto !important;
}

.content {
width:64em !important;
margin-right:0 !important;
}

#sr-more-link {
right:36em !important;
}

body {background: #000 !important;}


#header-img {
background: url(http://i.imgur.com/jhmxSMc.png) !important;
}


.footer li a {
color:#aaa !important;
}

.footer .flat-vert.title {
color:#aaa !important;
}


.listing-chooser {
display:none !important;
}

.domain {
display:none !important;
}

.title a:visited {
color:#555 !important;
}	

body {
font-family:Helvetica, Arial, Verdana, sans-serif!important;
font-size:12px!important;
color:#bbb!important;
position:relative;
}

.listing-chooser ul.multis li:hover{
background: #111 !important;
}

.listing-chooser ul.multis li:hover a{
color: #ddd !important;
}

.listing-chooser  a {
color: #bbb !important;
}

.listing-chooser {
background-color:#080808 !important;
}

.listing-chooser .grippy {
background-color:#080808 !important;
}

.listing-chooser .grippy:hover:after {
  background-color:#333 !important;
}

.listing-chooser .grippy:after {
  border-right:1px solid #222 !important;
}

.listing-chooser  li {
background-color:#080808 !important;
border-color:#333 !important;
}

.create button {
color:#ccc !important;
}

.intro {
background:#080808 !important;
}

/*HEADER SECTION*/


#header-bottom-left {
border:none !important;
background:none !important;
box-shadow:none !important;
-webkit-box-shadow:none !important;
height:48px !important;
padding:0 !important;
margin:0 !important;
}

#header-bottom-right {
position:absolute !important;
background:none!important;
border:none !important;
margin-right:1em !important;
top:0px !important;
}

#RESPrefsDropdown {
top:22px !Important;
right:1em !important;
position:absolute !important;
}

#RESAccountSwitcherDropdown {
position:absolute; 
left:70em !important;
}

#RESAccountSwitcherIconOverlay {
display:none !important;
}

#RESSettingsButton {
height:13px !important;
}

#header-bottom-right a{
color:#aaa !important;
font-weight:600 !important;
}

#header-img {

height:40px !important;
width:116px !important;
margin-left:2em !important;
-webkit-border-radius:5px;
border-radius:5px;
}


#header {
background:none!important;
border-bottom:0!important;
border:none !important;
height:70px!important;
box-shadow:none !important;
-webkit-box-shadow:none !important;
padding:0 !important;
margin:0 !important;
height:69px!important;
}

#sr-header-area {
background:#080808!important;
text-transform:capitalize!important;
border-bottom:0!important;
font-size:12px!important;
font-weight:600;
padding:2px!important;
border-bottom-right-radius:10px !important;
border-bottom-left-radius:10px !important;
-webkit-border-bottom-right-radius:10px !important;
-webkit-border-bottom-left-radius:10px !important;
}


.sr-bar a {
color:#aaa!important;
}

#sr-more-link {
background:#080808!important;
font-size:12px;
font-weight:600!important;
color:#aaa!important;
}

.sr-list {
width:44em !important;
margin-left:12em !important;
}

.sr-interest-bar {
background:#080808 !Important;
border-radius:10px !important;
-webkit-border-radius:10px !important;
border:0 !important;
}

.bubble {
background:#080808 !Important;
}

.selected.title {
margin-left:.5em !Important;
}

.dropdown.srdrop {
width:8em !important;
margin-right:1em !important;
}

.dropdown.srdrop .selected {
color:#aaa!important;
font-size:12px;
font-weight:600!important;
}

.drop-choices.lightdrop {
left:7em !important;
}

.drop-choices.srdrop {
margin:0 !important;
}

.drop-choices {
background:#080808!important;
color:#bbb!important;
-webkit-border-radius:10px;
border-radius:10px;
padding:.7em!important;
border:none !important;
position:absolute !important;
z-index:999999999 !important;
}

.drop-choices a.choice {
color:#ccc !important;
}

.drop-choices a.choice:hover {
color:#ccc!important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
background-color:#222!important;
}

.tabmenu {
margin-bottom:0 !important;
background:0 !Important;
border:0 !important;
}

.tabmenu a {
border-top-right-radius: 7px !important;
-webkit-border-top-right-radius:7px !important;
border-top-left-radius: 7px !important; 
-webkit-border-top-left-radius:7px !important;
background:#040404 !important;
padding:7px 7px 3px 7px !important;
border:none !important;
font-size:.9em !Important;
}

.tabmenu li a {
color: #555 !important;
}

.tabmenu .selected a {
padding: 10px 10px 3px 10px !important;
color:#a1a1a1 !important;
margin: 3px !important;
font-weight:800 !important;
background:#080808 !important;
}

.tabmenu a:hover {
color: #a1a1a1 !important;
padding: 7px 7px 3px 7px    !important;
}
    
.tabmenu .selected a:hover {
color:#6f6f6f !important;
padding: 10px 10px 3px 10px !important;
}

.profile-page .tabmenu a {
border-top-right-radius: 7px !important;
-webkit-border-top-right-radius:7px !important;
border-top-left-radius: 7px !important; 
-webkit-border-top-left-radius:7px !important;
background:#040404 !important;
padding: 3px 3px 3px 3px !important;
border:none !important;
font-size:.9em !Important;
}

.profile-page .tabmenu .selected a {
padding: 7px 7px 3px 7px !important;
color:#a1a1a1 !important;
font-weight:800 !important;
background:#080808 !important;
}

.profile-page .tabmenu a:hover {
color: #a1a1a1 !important;
padding: 3px 3px 3px 3px    !important;
}
    
.profile-page .tabmenu .selected a:hover {
color:#6f6f6f !important;
padding: 7px 7px 3px 7px !important;
}

.menuarea {
border-bottom:none !important;
padding-bottom:1em !important;
}

.pagename {
display:none !important;
}



/*CONTENT*/


.content {
background:#080808 !important;
border-radius:35px !important;
-webkit-border-radius:35px !important;
padding-left:3em !important;
padding-right:3em !important;
padding-top:2em !important;
padding-bottom:2em !important;
border:none !important;
margin-top:0 !important;
margin-bottom:0 !important;
margin-left:0 !important;
}

.linkflairlabel {
color:#bbb !important;
background:#444 !important;
border:0 !important;
-webkit-border-radius:5px;
border-radius:5px;
}

.flair {
    background-color: #4c4000 !important;
    border:0 !important;
    border-radius:5px!important;
-webkit-border-radius:5px!important;
    padding:1px !important;
}
    

.title {
color:#ccc !important;
}

.subreddit {
color:#aaa !important;
}

.help.help-cover.promoted {
background:#080808 !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
}

img {
border-radius:3px!important;
-webkit-border-radius:3px!important;
}

.organic-listing .link {
background-color:#080808!important;
}

.organic-listing {
background:#080808!important;
border:1px solid #1a1a1a!important;
-webkit-border-radius:5px;
border-radius:5px;
}

.hot-page .md {
margin-right:6em !important;
}

.rank {
display:none !important;
}

.thing {
padding-top:1em !important;
border:none !important;
}

.flat-list.buttons a{
color:#6a6a6a !important;
font-size:.95em;
}

.flat-list.buttons {
overflow:hidden !Important;
font-size:1.05em !important;
background:#080808 !important;
}

.tagline {
overflow:hidden !Important;
font-size:.9em !important;
}

.entry.unvoted {
background:#080808 !important;
border-radius:5px !important;
-webkit-border-radius:5px !important;
border:none !important;
}


.help-help-cover.organic {
background:none !important;
}

.RES-keyNav-activeElement {
outline: 1px dashed rgba(255,255,255,0.1)!important;
}

.nextprev {
margin-left:1em !important;
padding:.6em !important;
}

.nextprev a {
color:#ddd !important;
background:#1a1a1a !important;
border:none !important;
font-weight:normal !important;
}

.next-suggestions a:hover {
background:#2a2a2a !important;
}

.commentarea .score {
color:#CD5555 !important;
}

.commentarea .usertext-edit .livePreview .md.RESDialogContents,  .commentarea .usertext-edit .livePreview  {
background:#222 !important;
}

.messages-page .usertext-edit .livePreview .md.RESDialogContents,  .messages-page .commentarea .usertext-edit .livePreview  {
background:#222 !important;
}

.messages-page .md blockquote{
background-color:#111 !important;
}


.next-suggestions a{
border:none !important;
color:#ccc !important;
}

.nextprev a:hover {
color:#ddd !important;
background:#222!important;
border:0 #eee!important;
}

.entry.likes {
background:#080808 !important;
}


/*COMMENTS*/


.flat-list.buttons, .tagline, .comments-page .link, .linklisting {
padding:0 !Important;
margin-right:2em !important;
}


.usertext-edit textarea {
-moz-appearance:none!important;
background-color:#222!important;
color:#ccc!important;
-webkit-border-radius:10px;
border-radius:10px;
border:none !important;
}

.comments-page .self .md {
background:#080808 !important;
border:1px solid #222 !important;
}

.midcol {
margin-left:0 !Important;
}

.commentarea .md.RESDialogContents {
background:0 !important;
border:0 !important;
}

.commentarea .keyHighlight {
left:1em !important;
position:relative !important;
background:#080808 !important;
}



.commentarea .entry {
margin-left:2em !important;
}

.commentarea .md {
background:none !Important;
color:#ccc !important;
text-align:left;
margin-left:0 !important;
margin-right:2em !Important;
border:none !important;
}

.commentarea .md a {
color:#ffffaa !important;
}

.commentarea .md p {
margin-top:.4em !important;
margin-bottom:.1em !important;
background:#080808 !important;
}

.commentarea .markdownEditor a{
color: #bbb !important;
}

pre {
width:auto !important;
overflow:auto !important;
}

blockquote p{
color:#ccc !important;
}

.commentarea blockquote {
margin:1em !important;
color:#ffff9a !important;
}

.commentarea .comment {
margin-right:0 !important;
overflow:visible !important;
}

.commentarea .author {
color:#ddd !important;
font-weight:bold !important;
}

.commentarea .submitter.author {
background:#336699 !important;
-webkit-border-radius:5px !important;
border-radius:5px !important;
padding:2px !important;
}

.commentarea .RESImage {
margin-left:0 !Important;
}

.commentarea .collapsed {
margin:0 !important;
padding:0 !important;
}

.commentarea code {
background:#080808 !important;
}

.commentarea .collapsed .author {
background:#555 !important;
-webkit-border-radius:1px !important;
border-radius:1px !important;
}

.usertext.cloneable {
margin-left:1em !important;
}

.md .RESImage {
margin-left:0 !important;
}

.voteWeight {
background:none !important;
color:#aaa !important;
}

#shortlink-text {
-moz-appearance:none!important;
color:#555!important;
background-color:#222!important;
-webkit-border-radius:5px;
border-radius:5px;
border:#aaa !important;
}

#shortlink-text:hover {
background:#333 !important;
color:#ccc !important;
}


.usertext-body {
background:none !important;
}

.thing .usertext-body .md {
background:#111 !important;
border:1px solid #222 !important;
}

.expand {
background:#080808 !important;
color:#bbb !important;
}

.expand:hover {
background:#333 !important;
}

blockquote {
background:#080808 !important;
border-color:#ccc !important;
border-left:1px solid !important;
}



/*SIDE*/


.side {
background:none!important;
margin-top:-5px !important;
margin-right:0 !important;
}

.side #ad_main {
padding-bottom:0em !important;
padding-top:.8em !important;
}


.sidebox.create, .sidebox.submit, .sidebox.gold, #search {
padding:.7em !important;
border-radius:10px;
-webkit-border-radius:10px;
}

.sidebox.create .spacer, .sidebox.submit .spacer {
box-shadow:none;
-webkit-box-shadow:none;
}

.side img {
width:auto !Important;
border-bottom-right-radius:10px !important;
border-bottom-left-radius:10px !important;
-webkit-border-bottom-right-radius:10px !important;
-webkit-border-bottom-left-radius:10px !important;
}

.side div {
border:none !important;
}

.sponsorshipbox span {
margin-left:1em !important;
}

.spacer {
background:#080808!important;
border-radius:10px;
-webkit-border-radius:10px;
}

.spacer table {
margin:0 !important;
}

#search input{
color:#555!important;
background-color:#1a1a1a!important;
width:18.65em !important;
font-family:Helvetica, Arial, Verdana, sans-serif!important;
font-size:15px!important;
border:none !important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
}

#searchexpando.infobar {
background:#080808 !important;
color:#bbb !important;
-webkit-border-radius:10px !important;
border-radius:10px !important;
}

#searchexpando.infobar input {
margin-left:-.5em !important;
}

.searchfacets {
background:#222 !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
}

.sidecontentbox {
margin-left:2em!important;
margin-right:2em!important;
padding:10px 0!important;
}

.sidecontentbox a {
color:#555 !important;
}
.sidecontentbox .title, .helplink {
margin:1em !important;
margin-left:auto !important;
margin-right:auto !important;
}

.sidecontentbox .content {
width:auto!important;
border:0!important;
box-shadow:none;
-webkit-box-shadow:none;
}

.sidecontentbox .entry {
margin-left:2em !important;
}

.goldvertisement {
border-radius:7px !important;
-webkit-border-radius:7px !important;
color:#555 !important;
font-size:9px !important;
box-shadow:none !important;
}

.titlebox ol {
background:#080808 !important;
border:none !important;
}

.titlebox p, .titlebox li, .titlebox em, .titlebox .md {
color:#bbb !important;
background:#080808 !important;
}

.titlebox .td {
margin-right:1em !important;
}

.titlebox h1 {
color:#ccc!important;
background:#080808 !important;
}

.titlebox .number,.titlebox .word {
color:#bbb!important;
font-weight:700!important;
font-size:12px!important;
}

.titlebox .bottom {
border-top:1px solid #bbb!important;
padding:10px 0 0!important;
}

.titlebox {
background:#080808 !important;
padding-top:1em !important;
padding-bottom:1em !important;
border:none !important;
color:#bbb!important;
border-radius:10px;
-webkit-border-radius:10px;
margin:1em !important;
}


.titlebox a {
color:#6f6f6f !important;
}

.titlebox .md { 
border-radius:10px!important;
-webkit-border-radius:10px!important;
margin:0 !important;
border:0 !important;
}

.nub {
display:none!important;
}

.morelink {
background:#1a1a1a!important;
border:0!important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
width:15.76em !important;
}


.morelink a {
color:#a0a0a0 !important;
}

.morelink:hover {
background:#222!important;
}

.morelink a:hover {
color:#bfbfbf !important;
}

.linkinfo {
background:#080808!important;
border:0!important;
border-radius:5px!important;
-webkit-border-radius:5px!important;
margin:1em !important;
padding-top:1em !important;
padding-bottom:1em !important;
}

.linkinfo span {
color:#bbb !important;
}

.login-required {
color:#bbb !important;
}

.login-required:hover {
color:#eee !important;
}

#ad-frame {
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;

}

.account-activity-box a {
color:#555 !important;
}

h2 {
color:#aaa !Important;
}

.trophy-name {
color:#bbb !important;
}


.side .content {
padding:0 !important;
box-shadow: none!important;
}



/*SUBREDDIT SUB PAGE */


.fancy-toggle-button .remove {
color:#000!important;
background:#aaa!important;
}

.fancy-toggle-button .add {
color:#bbb!important;
background:maroon!important;
}

.searchpane.raisedbox {
background-color:#111!important;
-webkit-border-radius:10px;
border-radius:10px;
border:1px solid #333 !important;
}

.infobar {
background-color:#222!important;
color:#ccc!important;
-webkit-border-radius:10px;
border-radius:10px;
}

.infobar .md {
-webkit-border-radius:7px;
border-radius:7px;
border:none !important;
color:#ccc!important;
background-color:#111 !important;
}

.query {
background:none !important;
}

.results {
border:none !important;
}


/*RES STUFF*/

#progressIndicator {
background-color:#222 !important;
color:#ccc !important;
border:0 !important;
}

.res-commentBoxes body > .content {
padding-right:3em !important;
}

.guider {
position: absolute;
left:58em !Important;
color:#ccc !Important;
background-color:#111 !important;
border:0 !Important;
border-radius:5px !important;
-webkit-border-radius:5px !important;
}

.guider_description {
color:#ccc !Important;
background-color:#111 !important;
}

#srList {
background:#080808 !important;
}

#srList tr:hover {
background:#1a1a1a !important;
}

.commentarea .madeVisible {
padding-bottom:1em !important;
}

.entry, .md, .madeVisible, .thing {
overflow:visible !important;
}
 
.entry {
margin-left:11em !important;
background-color:#080808 !important;
border: none !important;
}

.RESImage {
border:1px solid #111!important;
-webkit-border-radius:5px;
border-radius:5px;
margin-top:1em !important;
margin-bottom:.5em !important;
margin-left:-7em !important;
}

.parent .RESImage {
margin-left:0 !important;
}


.RESGalleryControls {
background:#080808;
color:#fff;
padding:1px !important;
margin-left:0 !Important;
}

#RESMainGearOverlay {
display:none !important;
}

#RESShortcutsAddFormContainer, #RESShortcuts.sr-bar, #RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsLeft {
background:#080808 !important;
color:#bbb !important;
display:none !Important;
}

.res #userbarToggle {
background:none!important;
color:#aaa!important;
border:none!important;
}

.RESDialogSmall > h3 {
color:#ccc !important;
background-color:#333 !important;
border:none!important;
-webkit-border-radius:5px!important;
border-radius:5px;
}

.RESDialogSmall.livePreview {
width:41.5em!important;
color:#ccc !important;
background-color:#222 !important;
border:none!important;
-webkit-border-radius:10px!important;
border-radius:10px !important;
}

.RESDialogSmall.livePreview p{
color:#ccc !important;
background-color:#222 !important;
}

#RESHoverContainer {
border:1px solid #222  !important;
border-radius:10px !important;
-webkit-border-radius:10px !important;
}

.RESDialogContents {
color:#ccc !important;
background-color:#080808 !important;
-webkit-border-radius:10px !important;
border-radius:10px !important;
border:none !important;
}

.md.RESDialogContents {
background:#222 !important;
border:0 !important;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents {
background-color: #222 !important;;
}

.md.RESDialogContents blockquote p {
background:#222 !important;
}

.md.RESDialogContents blockquote {
background:#222 !important;
}
.RESSubscriptionButton{
border:0 !important;
background-color:#222 !important;
}

.RESSubscriptionButton:hover {
border:0 !important;
background-color:#333 !important;
}

.RESBigEditorPop {
background:#080808 !important;
border-radius:7px !important;
-webkit-border-radius:7px !important;
padding-left:2px !important;
color:#bbb !important;
}

.option.active {
padding-right:8px !important;
}

.expando {
margin-left:-4em !important;
margin-top:2em !important;
margin-bottom:1em !important;
}

.commentarea .expando {
margin-left:0 !important;
margin-top:0 !important;
}

.expando-button {
border-radius:4px!important;
-webkit-border-radius:4px!important;
padding:0 !important;
}

.expando-button.image.commentImg.collapsed {
margin-left:.5em !important;
}

.author.submitter {
color:#ccc !important;
}

#RESConsole.slideIn {
border-radius:10px!important;
-webkit-border-radius:10px!important;
}


/*OVERRIDE RES COMMENT BOX HIGHLIGHTING*/

.commentarea  .sitetable .thing .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment .comment {
background-color:#080808 !important;
}

.commentarea  .sitetable .thing .comment {
background-color:#080808 !important;
}

.res-commentBoxes.res-commentBoxes-rounded .comment {
border:1px solid #1c1c1c !important;
border-radius:5px !important;
-webkit-border-radius:5px !important;
}

.thing .child .entry .noncollapsed {
background:#080808 !important;
}
       
.commentarea .thing .entry .noncollapsed {
background:#080808 !important;
}

/*LINK SUBMISSION*/

.roundfield {
background:#1a1a1a!important;
-webkit-border-radius:10px;
border-radius:10px !important;
margin:0 auto !important;
}

.roundfield textarea {
width:492px!important;
-webkit-border-radius:10px;
border-radius:10px;
color: #ccc !important;
background:#333!important;
}

.textarea {
color: #ccc !important;
background:#333!important;
border:none !important;
}

#link-desc.infobar {
background-color:#1a1a1a !important;
color:#bbb !important;
border-color:#555!important;
-webkit-border-radius:10px;
border-radius:10px;
border:none !important;
}

#newlink.submit.content {
width:58em !important;
margin-right:auto !Important;
margin-left:auto !important;
box-shadow:none !important;
-webkit-box-shadow:none !important;

}

#newlink.submit.content .spacer {
box-shadow:none !important;
-webkit-box-shadow:none !important;

}

.formtabs-content {
border-top:none !important;
margin:0 auto !important;
}

.tabmenu.formtab {
margin-left:6em !important;
}

.infobar {
background:#111!important;
border:#333 1px solid !important;
-webkit-border-radius:10px;
border-radius:10px;
}


#url {
color: #ccc !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

#sr-autocomplete {
color: #bbb !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

#newlink.submit.content .btn {
margin-left:6.7em !important;
margin-top:1em !important;
}

#text-desc.infobar {
background:#1a1a1a !important;
color:#bbb !important;
}


/*RULES PAGE*/

.example {
background: #222 !important;
border-radius:10px !important;
-webkit-border-radius:10px !important;
}


/*SUBREDDIT CREATION PAGE*/



.create-reddit.fancy-settings.thing {
margin-left:10em !Important;
margin-right:auto !important;
}

.linefield {
color:#bbb !important;
background:#1a1a1a !important;
border-radius:10px !important;
-webkit-border-radius:10px !important;
}

.panestack-title {
padding:8px !important;
}
    
#name.text {
color: #bbb !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

#title.text {
color: #bbb !important;
background:#333!important;
-webkit-border-radius:5px;
border-radius:5px;
}

.option {
color:#bbb !important;
}


/*FOOTER*/

.footer-parent {
width:56em !important;
}

.footer {
border:none !important;
margin-left:auto !important;
margin-right:auto !important;
font-size:.78em !important;
}

.footer.rounded  {
border:1px solid #333!important;
}

.bottommenu {
color:#aaa !important;
font-size:.7em !important;
}

/*LOGIN FORM*/

.popup {
background:#1a1a1a !important;
}

.NERPageMarker {
background:#1a1a1a !important;
border:none !important;
}

#modalOverlay.fadeIn {
background:#222 !important;
}

.login-form.login-form-side {
background:none !important;
-webkit-border-radius:10px !important;
border-radius:10px !important;
border:none !important;
padding:.2em !important;
}

input {
background: #333 !important;
color:#bbb !important;
-webkit-border-radius:5px !important;
border-radius:5px !important;
}

.btn {
color:#000 !Important;
}


/*USER PREFERENCE PAGE*/


.content .preftable {
width:50.5em !important;
margin-bottom:2em !important;
box-shadow:none !important;
}

.white-field {
background: #1a1a1a !important;
}

/*WIKI PAGE*/

.md.wiki {
width:55em !important;
}

.wiki-page h3 {
color:#a1a1a1 !important;
}

.wiki-page td{
color:#bbb !important;
}

.md.wiki, .md.wiki ul {
border-radius:10px!important;
-webkit-border-radius:10px!important;
padding:1em !important;
}


/*NEEDED FOR USER PAGE*/



.head {
color:#aaa !important;
}

.menuarea .selected a {
color:#ccc !important;
}

.menuarea a{
color:#555 !important;
}

.noncollapsed {
margin-left:-5em !important;
}

.noncollapsed .md {
margin-left:-1em !important;
margin-top: 1em !important;
margin-bottom: 1em !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
}

.commentarea .noncollapsed {
margin-left:0 !important;
}

 .commentarea .noncollapsed .md {
 margin-top:.5em !important; 
 margin-bottom:.5em !important;
 }

.commentarea .noncollapsed .usertext-body .md {
background:#080808 !important;
}

.blockquote p {
margin-left:0 !Important;
}

.parent.rounded  {
border:none !important;
}

.noncollapsed .author.submitter {
color:#ccc !important;
background:#336699 !important;
-webkit-border-radius:5px!important;
border-radius:5px!important;
padding:2px !important;
}

.messages-page .RESImagePlaceholer, .profile-page .RESImagePlaceholder {
padding-bottom:2em !important;
}

/*SUBSCRIPTION LISTING PAGE*/

.listing-page .titlerow{
margin:.5em !important;
}

/*MAKE TABS SMALLER ON USER PAGE TO KEEP FROM OVERFLOWING*/

.profile-page.res .tabmenu a {
margin:-.2em !important;
font-size:.8em !Important;
}

.profile-page .thing {
border:0px !important;
margin:1em !Important;
padding:1em !important;
-webkit-border-radius:5px!important;
border-radius:10px!important;
}  

.profile-page .thing .md {
border-left:3px solid #2c2c2c !important;
background-color:#111 !important;
padding:.5em !important;
margin:.5em !important;
border-top:0 !important;
border-bottom:0 !important;
border-right:0 !important;
}

.usertext .md {
background-color:#111 !important;
}

.profile-page .noncollapsed {
margin-left:-8em !important;
margin-top:1em !important;
}

.profile-page .parent {
margin-bottom:1em !Important;
}

/*FOOTER*/

.footer-parent {
width:56em !important;
}

.footer {
border:none !important;
margin-left:auto !important;
margin-right:auto !important;
font-size:.78em !important;
}

.footer a {
color:#333 !important;
}

.bottommenu {
font-size:.7em !important;
}


/*REDDIT GOLD FIX*/

#about-gold, #about-gold header {
width: auto !important;
}

#about-gold section {
margin:auto !important;
}

#about-gold p, #about-gold h1{
padding-top:0 !important;
padding-bottom:0 !important;
margin:auto !important;
}

#about-gold section.etc.last{
margin-top:5em !important;
}
 
.gold-form .content{
width: auto !important;
}

.letter-body {
margin-right:11em !important;
}

.giftgold {
margin-left:1em !important;
}

.gilded-comments-link {
margin-left:1em !important;
padding-bottom:1em !important;
}


/*HELP PAGE*/

.wikipage.searchable h1{
color:#ccc !important;
}

.wikipage.searchable  .wiki-toc{
margin:1em !important;
}

.wikipage.searchable blockquote p {
margin-left:1em !important;
}

ol.events.timeline .event-content span.title {
color:#111 !important;
margin-left:.4em !important;
}

.sort-menu {
background:#333 !Important;
}



/*VARIOUS SUBREDDIT COMPAT FIXES BUT MOSTLY IT'S UP TO YOU TO TURN OFF SUBREDDIT CUSTOM STYLES*/


.link.promotedlink {
border:0 !important;
border-radius:10px!important;
-webkit-border-radius:10px!important;
background:#080808 !important;
}

.md {
color:#ccc !important;
background:#080808 !important;
margin-right:3em !Important;
border:1px solid #333 !important;
}

.md p {
text-align:left;
margin:1em !important;
}

.side {
border:none !important;
box-shadow:none !important;
}

.flairtoggle {
background:#080808 !important;
}

.tabmenu {
top:3em !important;
left:10em !important;
}

.odd.link {
background:#080808 !important;
}

.even.link {
background:#080808 !important;
}

.side {
padding:0 !important;
}

.side .spacer .titlebox  .md {
background:#080808 !important;
}


.titlebox ol {
background:#080808 !important;
}

h6 {
display:none !important;
}

.comment {
background:#080808 !important;
}

/*ERROR PAGE*/

#classy-error.content {
width:auto !important;
box-shadow:none !important;
-webkit-box-shadow:none !important;
}

.morecomments a {
color:#ffffaa !important;
}

.md .imgScanned {
color:#ffffaa !important;
}

.commentarea .thing .child {
border-left:1px solid #1a1a1a !important;
}

.commentarea .thing .md {
border:0 !important;
}

.commentarea .thing {
padding-top:.4em !important;
}

.flair {
background-color:#4c4000 !important;
color:#bbb !important;
-webkit-border-radius:5px !important;
border-radius:5px !important;
}

.author.admin {
color:#fff !important;
}

.nav-buttons {
margin:1.5em !important;
}

/*REDDIT GOLD RELATED*/

.rounded.gold-accent .title {
color:#555 !important;
}

.new-comment .usertext-body {
border:1px solid #998100 !important;
border-radius:7px!important;
-webkit-border-radius: 7px!important;
margin:.5em !important;
padding:2px !important;
}

.res .spacer .usertext .RESDialogSmall .RESDialogContents {
background-color:#222 !important;
}

    
.messages-page .usertext-edit {
margin-left:3.5em !Important;
}

.messages-page .md {
border-left:3px solid #2c2c2c !important;
background-color:#111 !important;
padding:.5em !important;
margin:.5em !important;
border-top:0 !important;
border-bottom:0 !important;
border-right:0 !important;
}

#headdit-box .open-frame {
background-color:#2a2a2a !important;
border:0 !important;
border-radius:10px !important;
-webkit-border-radius:10px !important;
}

.res-parents-down .comments-page .content .thing  {
box-shadow:none !Important;
}

.spacer .server-seconds {
background-color:#080808 !important;
}

a.subreddit {
color:#87CEEB !important;
}

.author {
color:#CD5555 !important
}



/*[[video expansion]]*/