@-moz-document domain("nixers.net") {

html {
font-family: Tewi !important;
font-size: 11px !important;
}

body {
background: #111111 !important;
font-family: gohufont !important;
font-size: 11px !important;
}

td.trow1 {
background-color: #222222 !important;
color: #f3e7c6 !important;
font-family: gohufont !important;
font-size: 11px !important;
}

td.trow2 {
background-color: #0d0b0d !important;
color: #f3e7c6 !important;
font-family: gohufont !important;
font-size: 11px !important;
}

td.tcat {
background-color: #000000 !important;
font-family: gohufont !important;
font-size: 11px !important;
}

div#infobar {
background-color: #000000 !important;
font-family: gohufont !important;
font-size: 11px !important;
}

span.smalltext {
color: #52633e !important;
}
}

@-moz-document domain("reddit.com") {
html {
font-family: berry !important;
font-size: 11px !important;
}

body {
background: #111111 !important;
font-family: berry !important;
font-size: 11px !important;
}

td.trow1 {
background-color: #222222 !important;
color: #f3e7c6 !important;
font-family: berry !important;
font-size: 11px !important;
}

td.trow2 {
background-color: #0d0b0d !important;
color: #f3e7c6 !important;
font-family: berry !important;
font-size: 11px !important;
}

td.tcat {
background-color: #000000 !important;
font-family: berry !important;
font-size: 11px !important;
}

div#infobar {
background-color: #000000 !important;
font-family: berry !important;
font-size: 11px !important;
}

span.smalltext {
color: #52633e !important;
}

a {
font-family: berry !important;
font-size: 11px !important;
}

navigation#uh-navigation {
background-color: #0d0b0d !important;
}

td.thead {
background-color: #000000 !important;
font-family: berry !important;
font-size: 11px !important;
}

}

@-moz-document domain("dotshare.it") {
html {
background-color: #0d0b0d !important;
font-family: gohufont !important;
font-size: 11px !important;
}
a {
font-family: gohufont !important;
font-size: 11px !important;
}
span {
font-family: gohufont !important;
font-size: 11px !important;
}
li {
font-family: gohufont !important;
font-size: 11px !important;
}
strong-good-action {
font-family: gohufont !important;
font-size: 11px !important;
color: #52633e
}
strong-light-orange {
font-family: gohufont !important;
font-size: 11px !important;
}
td {
font-family: gohufont !important;
font-size: 11px !important;
}
}


@-moz-document domain("reddit.com") {
html {
background-color: #0d0b0d !important;
color: #f3e7c6 !important;
}
body {
font-family: berry !important;
background-color: #0d0b0d !important;
color: #f3e7c6 !important;
}
div.side {
font-family: berry !important;
background-color: #0d0b0d !important;
}
div#header-bottom-left {
font-family: berry !important;
background-color: #0d0b0d !important;
}
div#header-bottom-right {
font-family: berry !important;
background-color: #0d0b0d !important;
font-weight: normal !important;
}
div.sr-list {
font-family: berry !important;
background-color: #0d0b0d !important;
font-weight: normal !important;
}
div.linkinfo {
font-family: berry !important;
background-color: #0d0b0d !important;
}
span.upvotes {
font-family: berry !important;
color: #52633e !important;
}
span.downvotes {
font-family: berry !important;
color: #753b39 !important;
}
}