@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
    /* TAB VARIABLES */
    --bg-light: rgb(145,144,142); --bg-dark: rgb(24,27,32);
    --fg-light: rgb(24,27,32); --fg-dark: rgb(145,144,142);
    --tab-height: 17px; --tab-triangle-correction: -1px; --tab-strip-margin: -12px;
    --tab-fonts: "berry",monospace,"Dejavu Sans"; --tab-font-size: 8pt;
    --tab-triangle: block; /* block | none */

    /* URL VARIABLES */
    --url-background: var(--bg-light); --url-color: rgb(24,27,32);
    --url-height: 17px; --url-right-margin: 5px;
    --url-fonts: "berry",monospace,"Dejavu Sans"; --url-font-size: 7pt;
    --url-text-align: left; /* left | center | right */
    --url-position: absolute; /* absolute == top (under tabs) || fixed == bottom of browser */
}


@-moz-document url(chrome://browser/content/browser.xul) {
    /* URL-BAR */
    #PanelUI-button, #bookmarks-menu-button, #downloads-button, #home-button, #stylish-toolbar-button, #abp-toolbarbutton,
    #back-button, #forward-button, #identity-box, #urlbar-reload-button, #urlbar-stop-button, #urlbar-go-button { display: none !important; }
    
    #nav-bar {
        position: var(--url-position) !important; bottom: 0 !important;
        width: 100% !important; height: var(--url-height) !important; min-height: var(--url-height) !important;
        margin: 0 0 0 0 !important;
        
        /* --- Uncomment the line below to attach the url-bar to the tab-bar [EXPERIMENTAL] (Require a line in "#TabsToolbar" below) --- */
        /*position: fixed !important; top: 0 !important; left: 0 !important; width: 300px !important; max-width: 300px !important;*/
    }
       #nav-bar-customization-target { width: 100% !important; }
          #urlbar-wrapper { width: 100% !important; position: absolute !important; top: 0 !important; left: 0 !important; margin-top: -1px !important; }
             #urlbar {
                 border: none !important; border-radius: 0 !important;
                 margin: 0 0 0 0 !important; padding: 0 2px 0 9px !important;
                 height: var(--url-height) !important; min-height: var(--url-height) !important;
                 background: var(--url-background) !important; color: var(--url-color) !important;
                 font-family: var(--url-fonts) !important; font-size: var(--url-font-size) !important;
                 width: calc(100% + var(--url-right-margin)) !important; text-align: var(--url-text-align) !important;
             }
    
    /* --- Comment out the line below to make the url-bar visible --- */
    #nav-bar { width: 0 !important; height: 0 !important; overflow: hidden !important; position: fixed !important; left: -1px !important; top: -1px !important; visibility: hidden !important; }
    
    
    /* TABS */
    .tabbrowser-tab[fadein]:not([pinned]) { min-width: 30px !important; max-width: 100% !important; }
    tab {
        font-family: var(--tab-fonts) !important;
        min-height: var(--tab-height) !important; height: var(--tab-height) !important;
        background: var(--bg-dark) !important; color: var(--fg-dark) !important;
        font-size: var(--tab-font-size); text-shadow: none !important; text-align: center !important;
    }

    .tabbrowser-tab label { padding: 0 calc(var(--tab-height)/1) 0 calc(var(--tab-height)/1) !important; }
    .tabs-newtab-button, .tab-close-button, .tab-close, .tab-throbber, .tab-icon-image, .tab-background-start, .tab-background-end { display: none !important; }
    
    .tabbrowser-tab *, .tabs-newtab-button * {
        background: none !important; list-style-image: none !important;
        margin: 0 0 0 0 !important; padding: 0 0 0 0 !important; -moz-appearance: none !important;
    }

    .tabbrowser-tab[selected="true"] .tab-stack {
        background: var(--bg-light) !important; color: var(--fg-light) !important;
        border-radius: 0 !important; position: relative !important;
    }
    .tabbrowser-tab[selected="true"]:before {    /* Left Triangle (of selected tab) */
        display: var(--tab-triangle); content: '' !important; position: absolute !important; z-index: 2 !important;
        top: 0 !important; left: 0 !important; width: 0 !important; height: 0 !important;
        
        border: none !important; border-left: calc(var(--tab-height)/2) solid var(--bg-dark) !important;
        border-top: calc((var(--tab-height)/2) - var(--tab-triangle-correction)) solid var(--bg-light) !important;
        border-bottom: calc((var(--tab-height)/2) + var(--tab-triangle-correction)) solid var(--bg-light) !important;
    }
    .tabbrowser-tab[selected="true"]:after {    /* Right Triangle (of selected tab) */
        display: var(--tab-triangle); content: '' !important; position: absolute !important; z-index: 2 !important; 
        top: 0 !important; right: 0 !important; width: 0 !important; height: 0 !important;
        
        border: none !important; border-right: calc(var(--tab-height)/2) solid var(--bg-dark) !important;
        border-top: calc((var(--tab-height)/2) - var(--tab-triangle-correction)) solid var(--bg-light) !important;
        border-bottom: calc((var(--tab-height)/2) + var(--tab-triangle-correction)) solid var(--bg-light) !important;
    }
    
    window, browser, #navigator-toolbox {-moz-appearance: none !important; background: transparent !important; }
    #TabsToolbar, #tabbrowser-tabs {
        height: var(--tab-height) !important; min-height: var(--tab-height) !important;
        -moz-appearance: none !important;
        margin-left: var(--tab-strip-margin) !important; margin-right: var(--tab-strip-margin) !important;
        background: var(--bg-dark) !important;
        
        /* --- Uncomment the line below to attach the url-bar to the tab-bar [EXPERIMENTAL] (Require a line in "#nav-bar" above) --- */
        /*margin-left: 140px !important;*/
    }
    #TabsToolbar::after { display: none !important; }
    .tabbrowser-tab::before, .tabbrowser-tab::after { background: none !important; }
    
    /* Remove line below tabs */
    #navigator-toolbox::after { height: 0px !important; }
    
    
    /* MENUS */
    menubar, menubutton, menulist, menu, menuitem { font-family: var(--tab-fonts) !important; font-size: var(--tab-font-size); height: var(--tab-height) !important; }
    menuitem + menuseparator, menu + menuseparator, .menu-iconic-left  { display: none !important; }
    
    menuitem > label { margin-left: var(--tab-height) !important; }
    

    /* HIDE ORANGE MENU BUTTON */
    #appmenu-toolbar-button, #appmenu-button-container { display: none !important; }
    
    /* HIDE STATUS BAR */
    #status-bar, #statusbar-display, statuspanel { display: none !important; }

    /* PRIVATE BROWSING ICON HIDE */
    #main-window[privatebrowsingmode=temporary] #private-browsing-indicator { display: none !important; }
}


/* AGENT_SHEET */
@-moz-document url-prefix(http://), url-prefix(https://) {
    /* SCROLLBAR */
    scrollbar[orient="vertical"], scrollbar thumb[orient="vertical"], 
    scrollbar[orient="horizontal"], scrollbar thumb[orient="horizontal"] {
        display: none !important; /* none = hide || block = show */
    }
    
    scrollbar > slider { -moz-appearance: none !important; }
    
    scrollbar[orient="vertical"] { margin: -3px -7px 0 0 !important; }
    scrollbar[orient='vertical'] > slider { background: rgb(170,170,170) !important; max-width: 5px !important; }
    scrollbar[orient='vertical'] > slider > thumb {
        -moz-appearance: none !important;
        background: rgb(73,67,79) !important; border: 0 !important;
        width: 5px !important; max-width: 5px !important;
    }
    
    scrollbar[orient="horizontal"] { margin: 0 0 -7px -3px !important; }
    scrollbar[orient='horizontal'] > slider { background: rgb(170,170,170) !important; max-height: 5px !important; }
    scrollbar[orient='horizontal'] > slider > thumb {
        -moz-appearance: none !important;
        background: rgb(73,67,79) !important; border: 0 !important;
        height: 5px !important; max-height: 5px !important;
    }
    
    scrollbar > scrollbarbutton { -moz-appearance: none !important; border: none !important; background: none !important; }
    scrollbar[orient='vertical'] > scrollbarbutton { min-height: 0 !important; }
    scrollbar[orient='horizontal'] > scrollbarbutton { min-width: 0 !important; }
}

